@import 'https://fonts.googleapis.com/css?family=Montserrat|Open+Sans';


.container {
  position: relative;
  width: 100%;

  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; 
}

.img-logo img {
  width: 1000px;
  height: 200px;
}

.column {
  margin-bottom: 1.5rem;
  width: 100%;
  float: left;
  box-sizing: border-box; 
}

@media (min-width: 640px) {
  .container {
    width: 90%;
    padding: 0; }
  .column {
    margin-left: 4%; }
  .column:first-child {
    margin-left: 0; }

  .full-width.column              { width: 100%; margin-left: 0; }  

  .one-half.column                { width: 48%; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-quarter.column             { width: 22%; }
  .two-quarter.column             { width: 48%; }
  .three-quarter.column           { width: 74%; }

  .one-half.column                { width: 48%; }      

}

.container:after,
.row:after,
.clearfix {
  content: "";
  display: table;
  clear: both; }


body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #444444;
  background: url("images/bg_image.jpg") no-repeat fixed right top ;
  background-color: #f1f1f1;
  margin: 0;
}

h1, h2, h3, h4 {
  font-family: 'Barclaycard Co Lt', sans-serif;
  color: #4CAF50;
  margin-top: 0;
}

h1 {
  font-size: 54px;
}

h2 {
  font-size: 36px;
}

h3 {
  color: #0c6602;
  font-size: 26px;
}

.center {
  text-align: center;
}

.questions_box {
  background-color: #ffffff;
  padding: 60px;
  text-align: left;
  max-width: 960px;
}

.button {
  font-family: 'Barclaycard Co Lt',Tahoma,sans-serif;
  margin: 10px 0 0 0;
  float: right;
  cursor: pointer;

  font-size: 1em;
  border: none;
  padding: 10px 15px;
  line-height: 18px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  vertical-align: baseline;
  background: #4CAF50;
  color: white;
  text-decoration: none !important;
  display: inline-block;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

.button:hover {
  background-color: #0c6602 !important;
  color: white;
}

.gabarito {
  text-align: center;
  align-items: center;
  margin-top: 10px;
}

.buttonGab {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
}

.buttonGab:hover {
  background-color: #0c6602 !important;
  color: white;

}

#question-2, #question-3, #question-4, #question-5, #question-6, #question-7, #question-8, #question-9, #question-10, #question-11{
  display: none;
}

.content{
  background-color: #333;
  padding: 1rem;
  margin-top: 1rem;
  align: center;
  width: 50%;
}

.draggable{
  padding: 1rem;
  background-color: white;
  border: 1px solid black;
  cursor: move;
}

#correct {
  background-color: green;
}

.draggable.dragging {
  opacity: .5;
}

#progress_bar {
  background-color: #618f1d;
  width: 5%;
  height: 8px;
  transition: all 100ms ease-in-out;
}